/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.nav-container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  z-index: 1;
  width: 100%;
  background-color: #fff;
}

.nav-container ul li {
  display: inline;
  padding: 0 1.5em 0 0;
  font-size: 0.9em;
}

nav {
  margin: 0 auto;
}

.logo {
  width: 65px;
  height: auto;
  margin: 0 auto 1.5em auto;
}

.menuItems {
  text-decoration: none;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  color: #222;
  transition: all 0.5s ease-in-out;
}

.menuItems:hover::after {
  width: 100%;
}

@media (min-width: 400px) {
  .nav-container {
    padding: 2em 0 1em 0;
  }
}

@media (min-width: 750px) {
  .nav-container ul li {
    display: inline;
    padding: 0 2em;
    font-size: 1em;
  }
}

@media (min-width: 1000px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
  }

  .nav-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 4rem 0 0 0;
  }

  .nav-container ul li {
    display: inline-block;
  }

  .logo {
    margin-left: 4em;
  }

  nav {
    align-self: center;
    margin: 0 0.8em 0 0;
  }

  .menuItems:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #5fbdc4;
    transition: width 0.2s;
  }
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero {
  height: 55vh;
  display: flex;
}

#hero-title {
  width: 87%;
  margin-bottom: 3rem;
}

.hero-text {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.hero-button {
  background-color: #67a2ae;
  border-color: #67a2ae;
  padding: 0;
}

.hero-button a {
  color: #fff;
  padding: 15px 30px;
}

.hero-button:hover {
  background-color: #fff;
  border-color: #67a2ae;
}

.hero-button a:hover {
  color: #67a2ae;
}

@media (min-width: 400px) {
  .hero-button {
    font-size: 1em;
  }

  .hero-text {
    display: flex;
  }
}
@media (min-width: 1000px) {
  .hero-text {
    width: 100%;
    height: auto;
  }

  #hero-title {
    width: 100%;
    height: auto;
  }
}

/* Featured Projects
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.omnicloud {
  color: #e9e9e9;
}

.omnicloud img {
  width: 100%;
  height: auto;
  margin: 5rem auto 0 auto;
}

#omnicloud-background {
  background: linear-gradient(
    180deg,
    rgba(163, 189, 237, 0.7) 0%,
    rgba(105, 145, 199, 0.7) 100%
  );
}

.content-type,
.content-title,
.content-summary {
  color: #222;
}

.content-type {
  letter-spacing: 0.1em;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.content-title {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 600;
}

.content-btn {
  font-size: 1em;
}

.content-details {
  margin-left: 20px;
}

@media (min-width: 750px) {
  .content-type,
  .content-title,
  .content-summary {
    color: #222;
  }

  .omnicloud img {
    width: 85%;
    height: auto;
    margin: 5rem auto 0 5rem;
  }
  .content {
    position: relative;
    overflow: hidden;
  }

  .content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .content:hover .content-overlay {
    opacity: 1;
  }

  .content-details {
    position: absolute;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    width: 80%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  .fadeIn-bottom {
    top: 80%;
  }

  .content-summary {
    width: 75%;
    font-size: 1.25em;
  }

  .content-type,
  .content-title,
  .content-summary {
    color: #e9e9e9;
  }

  .content-btn {
    border-color: #e9e9e9;
    padding: 0;
  }

  .content-btn a {
    color: #e9e9e9;
    padding: 15px 30px;
  }

  .content-btn:hover {
    background-color: #e9e9e9;
    border-color: #e9e9e9;
    color: #222;
  }

  .content-btn a:hover {
    color: #222;
  }
}

@media (min-width: 1000px) {
  .content-details {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .omnicloud img {
    width: 70%;
    height: auto;
    margin: 5rem auto 0 12vw;
  }

  .content-details {
    width: 60%;
  }
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
  background-color: #f7f7f7;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-text {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-top: 5vh;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.footer-links li {
  margin: 0 10px;
  color: #222;
}

.footer-links i {
  font-size: 1.75em;
}

.copyright {
  text-align: center;
}

/* Omnicloud
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.deliverable-link {
  color: #3571b6;
  font-weight: 600;
}

.summary-container {
  margin-bottom: 4rem;
}

.section-container {
  margin-bottom: 3rem;
}

.margin-top {
  margin-top: 3rem;
}

img {
  width: 100%;
  height: auto;
}

.omnicloud-btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.omnicloud-btn {
  font-size: 1em;
  border: 2px solid #3571b6;
  background-color: #3571b6;
  padding: 0;
  width: 235px;
}

.omnicloud-btn:hover {
  font-size: 1em;
  border: 2px solid #3571b6;
  background-color: #fff;
}

.omnicloud-btn a {
  color: #fff;
  padding: 15px 30px;
}

.omnicloud-btn a:hover {
  color: #3571b6;
}

.project-step {
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1.5rem;
  color: #3571b6;
}

.project-title {
  letter-spacing: 0.075em;
  font-weight: 600;
  text-transform: uppercase;
}

.project-section {
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.02em;
  color: #2d64a3;
  margin-top: 5rem;
}

figure {
  text-align: center;
}

figure img {
  width: 60%;
  height: auto;
  margin: 2rem 0;
}

.results-card {
  background-color: #e5e5e5;
  padding: 30px;
  width: 345px;
  height: 180px;
}

.maia {
  color: #66a098;
  font-weight: 600;
}

.maia-btn {
  border: 2px solid #66a098;
  color: #66a098;
  font-size: 1em;
}

.jeanelle {
  color: #6c7fa3;
  font-weight: 600;
}

.jeanelle-btn {
  border: 2px solid #6c7fa3;
  color: #6c7fa3;
  font-size: 1em;
}

.sitemap,
.mobile-hide {
  display: none;
}

.caption {
  font-size: 0.8em;
}

.shadow {
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

aside {
  display: flex;
  justify-content: center;
}

aside ul {
  text-align: center;
}

@media (min-width: 750px) {
  .caption {
    font-size: 14px;
  }

  .margin-top {
    margin-top: 3rem;
  }

  .omnicloud-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  figure img {
    width: 40%;
  }

  .project-img {
    width: 100%;
    height: auto;
  }

  .persona {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .resize-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tablet-hide {
    display: none;
  }
}

@media (min-width: 1000px) {
  .hidden {
    display: none;
  }

  .menu {
    position: fixed;
    z-index: 1;
    background: transparent;
    left: 0;
    width: 225px;
    overflow-y: auto;
    height: 100%;
  }

  .sideNav {
    display: block;
    padding: 5px 25px 7px 25px;
    width: 4em;
    text-align: center;
    -webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
    border-top: 3px solid white;
    color: #979797;
    text-decoration: none;
  }

  .sideNav:hover {
    border-top: 3px solid#3571b6;
    color: #222;
    font-weight: 600;
  }

  ul,
  li {
    font-size: 18px;
  }

  .margin-top-md {
    margin-top: 5rem;
  }

  .margin-top-lg {
    margin-top: 8rem;
  }

  .margin-top-xl {
    margin-top: 150px;
  }

  .project-step-lg {
    letter-spacing: 0.1em;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 8rem;
    color: #3571b6;
  }

  .width-lg {
    width: 75%;
    margin: 0 auto;
  }

  .omnicloud-btn-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .omnicloud-btn {
    margin: 0 10px;
  }

  .project-img {
    width: 75%;
    height: auto;
    padding-top: 40px;
  }

  .img-wrapper {
    text-align: center;
    background: linear-gradient(
      180deg,
      rgba(163, 189, 237, 0.7) 0%,
      rgba(105, 145, 199, 0.7) 100%
    );
    z-index: 2;
  }

  .mobile-hide {
    display: inline;
  }

  .tablet-hide {
    display: flex;
  }

  .desktop-hide {
    display: none;
  }

  .flows,
  .wireframes {
    margin: 0 -33%;
  }
}

/* About
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 1000px) {
  .about-margin {
    margin: 15rem -10% 0 -10%;
  }
}
