* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html,
body {
    background-color: #fff;
    height: 100%;
    width: 100%;
}

button {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.12em;
}

footer {
    background-color: #F7F7F7;
    text-align: center;
    width: 100%;
    height: auto;
}

h2,
h3,
h4,
p,
li {
    font-family: 'Open Sans', sans-serif;
    color: #363636;
}

/* Home  - START*/

/* Hero */

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 5%;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    width: 25%;
    height: 25%;
}

#menu { 
    font-size: 8vh; 
    color: #73B9C2;
}

.hero-header {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    max-height: 70%;
    margin-top: 20vh;
}

.hero-title { 
    font-size: 7vh; 
}

.button { align-content: flex-start; }

.see-projects-btn {
    background-color: #67A2AE;
    color: #fff;
    font-weight: 600;
    width: 203px;
    height: 47px;
    border-radius: 25px;
    display: block;
}


/* Menu */

.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.98);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .modal-window:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modal-window > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #fff;
    color: #333;
  }
  .modal-window header {
    font-weight: bold;
  }
  .modal-window h2 {
    font-size: 200%;
    color: #333;
  }
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 2.25em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 5%;
    width: 70px;
    text-decoration: none;
  }
  .modal-close:hover {
    color: #000;
  }


/* Case Studies - Brief */


.ah-bkgrd {
    background: linear-gradient(180deg, rgba(221, 214, 243, 0.7) 0%, rgba(250, 172, 168, 0.7) 100%);
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
}

.omnicloud-bkgrd {
    background: linear-gradient( 180deg, rgba(163, 189, 237, 0.7) 0%, rgba(105, 145, 199, 0.7) 100%);
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100vw;
}

.omnicloud-bkgrd img, .ah-bkgrd img {
    width: 100%;
    line-height: 0;
    margin: 10%;
}

.content {
    position: relative;
    overflow: hidden;
  }

.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }

  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  .fadeIn-bottom{
    top: 80%;
  }


/* Elements */

.no-list-style {
    list-style-type: none;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.menu {
    float: right;
}


/* Spacing */

.page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* Typography */

.type {
    letter-spacing: 0.10em;
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}


/* Home */


.omnicloud-case-study {
    width: 100%;
    height: 325px;
}

.omnicloud-description {
    margin-top: 40px;
}
.margin-project {
    margin: 15px auto;
}
.persona {
    margin: 25px auto;
}
.persona img {
    width: 100%;
}
.persona li {
    font-size: 18px;
}
.persona-quote {
    font-weight: 600;
    font-style: italic;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    width: 212px;
    text-align: center;
    margin: 16px auto;
}
.summary-case-study {
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 28px;
    margin-top: 30px;
}
.stats-results {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400i;
}



/* Nav */
.menu {
    float: right;
    margin-top: 10px;
}


/* Footer */
.copyright {
    font-size: 12px;
    margin-bottom: 24px;
}
.footer-links {
    margin-bottom: 30px;
}
.footer-text {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 30px;
    width: 100%;
    margin: 35px auto;
}

/* Home - END */

/* Mobile Styles */

@media only screen and (max-width: 400px) {
 
    aside {
        display: inline;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 16px;
    }
    figure {
        text-align: center;
    }
    figure img {
        margin: 16px auto 30px auto;
    }
    ol li {
        font-style: italic;
    }
    p {
        font-size: 18px;
        letter-spacing: .02em;
        line-height: 26px;
    }

    .hero {
        margin: 5%;
    }

    .hero-header {
        margin: auto;
    }
    
    .hero-title { 
        font-size: 6vh; 
    }
    
    .summary {
        display: flex;
        flex-direction: column;
        /* max-width: 90%;
        max-height: 70%;
        margin-top: 20vh; */
    }

    #case-study-desktop {
        display: none;
    }

    .em-mobile {
        margin: 20px auto;
        width: 250px;
        display: inline-block;
        line-height: 26px;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.02em;
    }
    .letter-spacing-5 {
        letter-spacing: .05em;
    }
    .hidden {
        display: none;
    }
 
    .margin {
        margin: 5%;
    }
    .margin-project {
        margin: 15px auto;
    }

    .mobile-project {
        height: 400px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .next {
        display: inline;
    }
    .type {
        font-size: 14px;
    }
    /* About */
    .about-heading {
        font-family: Playfair Display;
        color: #67A2AE;
        font-style: normal;
        font-weight: bold;
        line-height: 34px;
        font-size: 22px;
        margin: 30px auto 10px auto;
    }
    .design-process {
        display: inline-block;
        text-align: center;
    }
    /* Case Study */
    .button-case-study {
        font-weight: 700;
        text-transform: none;
        width: 200px;
        height: 41px;
        border-radius: 20px;
        border: 1px solid #3571B6;
        box-sizing: border-box;
        background-color: #fff;
        color: #3571B6;
        letter-spacing: .05em;
        display: block;
        position: relative;
        margin: 15px auto 30px auto;
    }
    .case-study-heading-sm {
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin: 30px auto 22px auto;
    }
    .case-study-heading-md {
        font-weight: 600;
        line-height: normal;
        font-size: 20px;
        letter-spacing: 0.02em;
        color: #2D64A3;
        margin: 30px auto 10px auto;
    }
    .case-study-heading-lg {
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #363636;
        margin: 22px auto 15px auto;
    }
    .case-study-li {
        line-height: 26px;
        font-size: 16px;
        letter-spacing: 0.02em;
    }
    .caption {
        font-weight: 400;
        font-style: italic;
        font-size: 12px;
        text-align: center;
    }

    .maia {
        background-color: #fff;
        color: #66A098;
        border: 1px solid #66A098;
    }
    .jeanelle {
        background-color: #fff;
        color: #6C7FA3;
        border: 1px solid #6C7FA3;
    }
    
 
    /* Home */

    .ah-color img {
        width: 100%;
        margin: 70px auto;
    }
    .omnicloud-case-study {
        width: 100%;
        height: 325px;
    }
    div.omnicloud-color img {
        width: 100%;
        margin: 92px auto;
    }
  
    .margin-project {
        margin: 15px auto;
    }
    .persona {
        margin: 25px auto;
    }
    .persona img {
        width: 100%;
    }
    .persona li {
        font-size: 18px;
    }
    .persona-quote {
        font-weight: 600;
        font-style: italic;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        width: 212px;
        text-align: center;
        margin: 16px auto;
    }
    .summary-case-study {
        font-weight: 600;
        letter-spacing: 0.02em;
        line-height: 28px;
        margin-top: 30px;
    }
    .stats-results {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400i;
    }
  
    .view-projects-btn {
        font-weight: 600;
        width: 160px;
        height: 38px;
        border-radius: 20px;
        border: #363636 1px solid;
        color: #363636;
        background-color: #fff;
        display: block;
        margin: 25px auto 40px auto;
       float: left;
    }

    /* Nav */
    .menu {
        float: right;
        margin-top: 10px;
    }


    /* Footer */
    .copyright {
        font-size: 12px;
        margin-bottom: 24px;
    }
    .footer-links {
        margin-bottom: 30px;
    }
    .footer-text {
        font-family: 'Playfair Display';
        font-weight: 700;
        font-size: 30px;
        width: 100%;
        margin: 35px auto;
    }
      
}

/* Tablet Styles */

@media only screen and (min-width: 401px) and (max-width: 960px) {

    h2 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.25em;
        letter-spacing: .02em;
        line-height: 28px;

    }

    .letter-spacing-5 {
        letter-spacing: .05em;
    }

    .hero {
        margin: 5%;
    }

    .hero-header {
        margin: auto;
    }
    
    .hero-title { 
        font-size: 6vh; 
    }

    #case-study-desktop {
        display: none;
    }

    .view-projects-btn {
        font-weight: 600;
        width: 160px;
        height: 38px;
        border-radius: 20px;
        border: #363636 1px solid;
        color: #363636;
        background-color: #fff;
        display: block;
        margin: 25px auto 40px auto;
       float: left;
    }

    .margin {
        margin: 5%;
    }
    .margin-project {
        margin: 15px auto;
    }

  



  
}

/* Desktop Styles */

@media only screen and (min-width: 961px) {

    #case-study-mobile {
        display: none;
    }
    
}