/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navigation {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 20px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 2px 20px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 2px 20px 0px rgba(0, 0, 0, 0.14);
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  padding-top: 0px;
}

.navigation a {
  text-decoration: none;
}

.navigation ul {
  margin-top: 30px;
  text-align: center;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.nav-links {
  width: 200px;
}

.logo {
  text-align: center;
  margin: 10px auto;
  width: 65px;
  height: auto;
}

.bar1,
.bar2,
.bar3 {
  margin-top: 5px;
  background-color: #5fbdc4;
  width: 25px;
  height: 3px;
  display: block;
  position: relative;
  opacity: 1;
  border-radius: 15%;
  transition: all 0.3s;
}

.bar1.active {
  transform: rotate(270deg);
  opacity: 0;
  background-color: #979797;
  top: 5px;
}

.bar2.active {
  transform: rotate(45deg);
  background-color: #979797;
}

.bar3.active {
  transform: rotate(-45deg);
  background-color: #979797;
  top: -7px;
}

.menuItems {
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 22px;
  display: inline-block;
  position: relative;
  text-align: center;
  color: #222;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.menuItems:after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #5fbdc4;
  transition: width 0.2s;
}

.menuItems:hover::after {
  width: 100%;
}

#close-btn {
  height: 25px;
  width: 25px;
  position: absolute;
  text-decoration: none;
  top: 15px;
  right: -25px;
  font-size: 36px !important;
  margin-right: 50px;
  z-index: 100;
  color: #fff;
  cursor: pointer;
  transition: background-position 0.3s;
}

#main {
  transition: margin-top 0.4s;
  text-align: center;
  margin: auto;
  padding: 16px;
  font-size: 30px;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero {
  height: 60vh;
}

#hero-title {
  width: 85%;
  margin-bottom: 1.5rem;
}

#hero-button {
  background-color: #67a2ae;
  border-color: #67a2ae;
  color: #fff;
}

#hero-button:hover {
  background-color: #fff;
  border-color: #67a2ae;
  color: #67a2ae;
}

@media (min-width: 400px) {
  #hero-title {
    width: 90%;
    margin-bottom: 5rem;
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
  }

  #hero-button {
    font-size: 1em;
  }
}

/* Featured Projects
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.omnicloud {
  color: #e9e9e9;
}

.omnicloud img {
  width: 100%;
  height: auto;
  margin: 5rem auto 0 auto;
}

#omnicloud-background {
  background: linear-gradient(
    180deg,
    rgba(163, 189, 237, 0.7) 0%,
    rgba(105, 145, 199, 0.7) 100%
  );
}

.content-type,
.content-title,
.content-summary {
  color: #222;
}

.content-type {
  letter-spacing: 0.1em;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.content-title {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 600;
}

.content-btn {
  font-size: 1em;
}

@media (min-width: 750px) {
  .content-type,
  .content-title,
  .content-summary {
    color: #222;
  }

  .omnicloud img {
    width: 85%;
    height: auto;
    margin: 5rem auto 0 5rem;
  }
  .content {
    position: relative;
    overflow: hidden;
  }

  .content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .content:hover .content-overlay {
    opacity: 1;
  }

  .content-details {
    position: absolute;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    width: 80%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  .fadeIn-bottom {
    top: 80%;
  }

  .content-summary {
    width: 75%;
    font-size: 1.25em;
  }

  .content-type,
  .content-title,
  .content-summary {
    color: #e9e9e9;
  }

  .content-btn {
    color: #e9e9e9;
    border-color: #e9e9e9;
  }

  .content-btn:hover {
    background-color: #e9e9e9;
    border-color: #e9e9e9;
    color: #222;
  }
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
  background-color: #f7f7f7;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-text {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-top: 5vh;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.footer-links li {
  margin: 0 3vw;
  color: #222;
}

.footer-links i {
  font-size: 1.75em;
}

.copyright {
  text-align: center;
}

@media (min-width: 750px) {
  .footer-links li {
    margin: 0 1.5vw;
  }
}

/* Omnicloud
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.summary-container {
  margin-bottom: 4rem;
}

.section-container {
  margin-bottom: 3rem;
}

.margin-top {
  margin-top: 3rem;
}

img {
  width: 100%;
  height: auto;
}

.omnicloud-btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.omnicloud-btn {
  font-size: 1em;
  border: 2px solid #3571b6;
  color: #3571b6;
  width: 235px;
}

.project-step {
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1.5rem;
  color: #3571b6;
}

.project-title {
  letter-spacing: 0.075em;
  font-weight: 600;
  text-transform: uppercase;
}

.project-section {
  font-weight: 600;
  line-height: normal;
  /* font-size: 20px; */
  letter-spacing: 0.02em;
  color: #2d64a3;
}

/* ul {
  width: 90%;
  margin: 0 auto;
  list-style: none;
} */

figure {
  text-align: center;
}

figure img {
  width: 60%;
  height: auto;
  margin: 2rem 0;
}

.maia {
  color: #66a098;
  font-weight: 600;
}

.maia-btn {
  border: 2px solid #66a098;
  color: #66a098;
  font-size: 1em;
}

.jeanelle {
  color: #6c7fa3;
  font-weight: 600;
}

.jeanelle-btn {
  border: 2px solid #6c7fa3;
  color: #6c7fa3;
  font-size: 1em;
}

.sitemap,
.onboarding-digital {
  display: none;
}

.caption {
  font-size: 0.8em;
}

aside {
  display: flex;
  justify-content: center;
}

aside ul {
  text-align: center;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.6);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: block;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 10px;
  font-size: 30px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

@media (min-width: 750px) {
  .margin-top {
    margin-top: 3rem;
  }

  .omnicloud-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  figure img {
    width: 40%;
  }

  .project-img {
    width: 80%;
    height: auto;
  }

  .persona {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .resize-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-resize-img {
    width: 70%;
    height: auto;
  }
}

@media (min-width: 1000px) {
  .project-step-lg {
    letter-spacing: 0.1em;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 8rem;
    color: #3571b6;
  }

  .width-lg {
    width: 75%;
    margin: 0 auto;
  }

  .omnicloud-btn-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }

  .omnicloud-btn {
    margin: 0 10px;
  }

  .project-img {
    width: 75%;
    height: auto;
    padding-top: 40px;
  }

  .img-wrapper {
    text-align: center;
    background: linear-gradient(
      180deg,
      rgba(163, 189, 237, 0.7) 0%,
      rgba(105, 145, 199, 0.7) 100%
    );
    z-index: 2;
  }
}
