/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 15%;
  height: auto;
}

#menu {
  font-size: 8vh;
  margin-bottom: 15px;
  color: #67a2ae;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.98);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 65vw;
  height: 95vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #fff;
  color: #333;
}
.modal-window header {
  font-weight: bold;
}
.modal-window h2 {
  margin: 40px 0;
  font-size: 200%;
  color: #333;
}
.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 2.25em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 5%;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: #000;
}

.menu-items {
  margin-top: 10vh;
}

.menu-title:hover {
  border-bottom: 3px solid #222;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero {
  height: 100vh;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  height: 60%;
}

#hero-title {
  width: 85%;
  margin-bottom: 5rem;
}

#hero-button {
  background-color: #67a2ae;
  border-color: #67a2ae;
  color: #fff;
}

#hero-button:hover {
  background-color: #fff;
  border-color: #67a2ae;
  color: #67a2ae;
}

/* Featured Projects
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.omnicloud {
  color: #e9e9e9;
}

.omnicloud img {
  width: 85%;
  height: auto;
  margin: 5rem auto 0 auto;
}

#omnicloud-background {
  background: linear-gradient(
    180deg,
    rgba(163, 189, 237, 0.7) 0%,
    rgba(105, 145, 199, 0.7) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
  width: 80%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.fadeIn-bottom {
  top: 80%;
}

.content-type {
  letter-spacing: 0.1em;
  font-weight: 700;
  text-transform: uppercase;
}

.content-title {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 600;
}

.content-summary {
  width: 75%;
  font-size: 1.25em;
}

.content-btn {
  color: #e9e9e9;
  border-color: #e9e9e9;
}

.content-btn:hover {
  background-color: #e9e9e9;
  border-color: #e9e9e9;
  color: #222;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
  background-color: #f7f7f7;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-text {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-top: 5vh;
}

.footer-links {
  list-style: none;
  display: flex;
}

.footer-links li {
  font-size: 3rem;
  margin: 0 1.5vw;
  color: #222;
}
