* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Base Elements  */

a {
    text-decoration: none;
}

body {
    background-color: #fff;
}

button {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.12em;
}

footer {
    background-color: #F7F7F7;
    text-align: center;
    width: 100%;
    height: auto;
}

h2,
h3,
h4,
p,
li {
    font-family: 'Open Sans', sans-serif;
    color: #363636;
}

/* Classes by Function */

/* Colors */

.ah-color {
    background: linear-gradient(180deg, rgba(221, 214, 243, 0.7) 0%, rgba(250, 172, 168, 0.7) 100%);
}

.omnicloud-color {
    background: linear-gradient( 180deg, rgba(163, 189, 237, 0.7) 0%, rgba(105, 145, 199, 0.7) 100%);
}

/* Elements */

.no-list-style {
    list-style-type: none;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.see-projects-btn {
    background-color: #67A2AE;
    color: #fff;
    font-weight: 600;
    width: 203px;
    height: 47px;
    border-radius: 25px;
    display: block;
    margin: 25px auto 40px auto;
}

/* Spacing */

.page {
    display: flex;
    flex-wrap: wrap;
}

/* Typography */

.type {
    letter-spacing: 0.10em;
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

/* Mobile Styles */

@media only screen and (max-width: 400px) {
    aside {
        display: inline;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 16px;
    }
    figure {
        text-align: center;
    }
    figure img {
        margin: 16px auto 30px auto;
    }
    ol li {
        font-style: italic;
    }
    p {
        font-size: 18px;
        letter-spacing: .02em;
        line-height: 26px;
    }
    div.ah-color img {
        width: 100%;
        margin: 70px auto;
    }
    .button-case-study,
    .button-persona {
        font-weight: 700;
        text-transform: none;
        width: 200px;
        height: 41px;
        border-radius: 20px;
        border: 1px solid #3571B6;
        box-sizing: border-box;
        background-color: #fff;
        color: #3571B6;
        letter-spacing: .05em;
        display: block;
        position: relative;
        margin: 15px auto 30px auto;
    }
    .maia {
        background-color: #fff;
        color: #66A098;
        border: 1px solid #66A098;
    }
    .jeanelle {
        background-color: #fff;
        color: #6C7FA3;
        border: 1px solid #6C7FA3;
    }
    .caption {
        font-weight: 400;
        font-style: italic;
        font-size: 12px;
        text-align: center;
    }
    .copyright {
        font-size: 12px;
        margin-bottom: 24px;
    }
    .case-study-heading-sm {
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin: 30px auto 22px auto;
    }
    .case-study-heading-md {
        font-weight: 600;
        line-height: normal;
        font-size: 20px;
        letter-spacing: 0.02em;
        color: #2D64A3;
        margin: 30px auto 10px auto;
    }
    .case-study-heading-lg {
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #363636;
        margin: 22px auto 15px auto;
    }
    .case-study-li {
        line-height: 26px;
        font-size: 16px;
        letter-spacing: 0.02em;
    }
    .desktop-no-show {
        display: none;
    }
    .em-mobile {
        margin: 20px auto;
        width: 250px;
        display: inline-block;
        line-height: 26px;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.02em;
    }
    .footer-links {
        margin-bottom: 30px;
    }
    .footer-text {
        font-family: 'Playfair Display';
        font-weight: 700;
        font-size: 30px;
        width: 100%;
        margin: 35px auto;
    }
    .letter-spacing-5 {
        letter-spacing: .05em;
    }
    .hidden {
        display: none;
    }
    .jeanelle-color {
        color: #6C7FA3;
    }
    .maia-color {
        color: #66a098;
    }
    .margin {
        margin: 20px 16px;
    }
    .margin-project {
        margin: 15px auto;
    }
    .menu {
        float: right;
        margin-top: 10px;
    }
    .mobile-project {
        height: 400px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .next {
        display: inline;
    }
    .omnicloud-case-study {
        width: 100%;
        height: 325px;
    }
    div.omnicloud-color img {
        width: 100%;
        margin: 92px auto;
    }
    .omnicloud-description {
        margin-top: 40px;
    }
    .persona {
        margin: 25px auto;
    }
    .persona img {
        width: 100%;
    }
    .persona li {
        font-size: 18px;
    }
    .persona-quote {
        font-weight: 600;
        font-style: italic;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        width: 212px;
        text-align: center;
        margin: 16px auto;
    }
    .summary-case-study {
        font-weight: 600;
        letter-spacing: 0.02em;
        line-height: 28px;
        margin-top: 30px;
    }
    .stats-results {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400i;
    }
    .type {
        font-size: 14px;
    }
    .view-projects-btn {
        font-weight: 600;
        width: 160px;
        height: 38px;
        border-radius: 20px;
        border: #363636 1px solid;
        color: #363636;
        background-color: #fff;
        display: block;
        margin: 25px auto 40px auto;
        position: relative;
        right: 95px;
        padding: 5px;
    }
}

/* Tablet Styles */

@media only screen and (min-width: 401px) and (max-width: 960px) {}

/* Desktop Styles */

@media only screen and (min-width: 961px) {}